*{
    margin: 0;
    outline: none;
    box-sizing: border-box;
}        
body{
    font-family: Space Grotesk;
    background-color: #1E1F31;
    overflow-x: hidden;
}

.wrapper{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
header{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
header ul li a{
    color: #aba9b4;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}
header ul li a:hover{
    color: #f09053;
}
header ul li a.btn{
    display: inline-block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    background-color: #f09053;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: all ease 0.5s;
}
header ul li a.btn:hover{
    background-color: #615c59;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px 0;
}
.text{
    width: 50%;
    padding-right: 150px;
}
.text p{
    font-size: 28px;
    line-height: 46px;
    color: #fff;
}
.text p span{
    color: #f09053;
}
.text a{
    position: relative;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 18px 30px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 60px;
}
.text a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #f09053;
    z-index: -1;
    transition: all ease 0.5s;
}
.text a:hover:before{
    width: 100%;
}

.img{
    position: relative;
    width: 500px;
    height: 500px;
    background: radial-gradient(520px, #f08f538c, transparent 50%);
    margin-top: -50px;
}
.email-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social-icons{
    height: 100%;
    animation: rotation 60s linear infinite;
}
@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}
.social-icons img{
    position: absolute;
}
.social-icons img:nth-child(1){
    top: 0;
    left: 42%;
}
.social-icons img:nth-child(2){
    top: 25%;
    right: 0;
}
.social-icons img:nth-child(3){
    top: 70%;
    left: 70%;
}
.social-icons img:nth-child(4){
    top: 25%;
    left: 0;
}
.social-icons img:nth-child(5){
    top: 70%;
    left: 10%;
}


.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
}
.wave:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/wave.svg) repeat-x;
    background-size: cover;
    background-position: -1000px 0;
    opacity: .2;
    animation: waveOne 60s linear infinite; 
}
@keyframes waveOne {
    50%{
        background-position: 0 0;
    }
}
.wave:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/wave.svg) repeat-x;
    background-size: cover;
    background-position: 2732px 0;
    opacity: .3;
    animation: waveOne 120s linear infinite; 
}


/*SUBMENU*/
ul ul{
    max-width: 250px;
    position: absolute;
    padding: 10px 0;
    opacity: 0;
    z-index: -9999;
    transition: all ease 0.5s;
}
ul li:hover ul{
    opacity: 1;
    z-index: 9;
    padding: 30px 0;
}
ul ul li{
    margin: 0;
    width: 100%;
}
ul ul li a{
    width: 100%;
    display: inline-block;
    padding: 20px;
    background-color: #383a58;
    color: #fff;
}
ul ul li:first-child a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
ul ul li:last-child a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
ul ul li a:hover{
    background-color: #f09053;
    color: #fff;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}




@media screen and (max-width: 1100px) {

    header, .content{
        padding: 50px 50px;
        
    }
   
    .text {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    /* ul {
        display: flex;
        flex-direction: column;
    } */
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #1E1F31;
        top: 150px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        padding-left: 0;

    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }



    header ul li {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    header, .content {
        padding: 20px;
    }
}
